@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.table-title{
    font-family: "Montserrat", serif;
}

.header-user{
    background-color: #bd8462;
}

.btn-process{
    background-color: #c55962;
    transition: all 200ms ease-out;
}
.btn-process:hover{
    transform: scale(1.05);
}

.input-number[type=number]::-webkit-inner-spin-button,
.input-number[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.input-number[type=number]:focus{
    box-shadow: none;
}

.natural-goal{
    background-color: #AF6E46;
}
.fullwash-goal{
    background-color: #6B705C;
}
.honey-goal{
    background-color: #77CFB5;
}
.card-actions .btn{
    background-color: #C55962;
    border: none;
}

.card-actions .btn:hover{
    transition: all 200ms ease-out;
    transform: scale(1.05);
}